.header {
    border: 1px solid #b1b1b1;
    padding: 20px 20px;
    display: block;
    float: left;
    width: 100%;
}

.title {
    text-align: center;
    color: #85c485;
}

.view-wrapper {
    color: #bfbfbf;
    cursor: pointer;
    font-size: 1.0rem;
    transition: all 0.25s;
    width: 20rem;
    float: right;
    padding-right: 15px;
}

.view-wrapper>div.active,
.view-wrapper>div:hover {
    color: #818181;
}

.viewer {
    float: right;
}

.list1 {
    padding-left: 50px;
}

.filter {
    float: left;
}

.table td,
.table th {
    padding: .75rem;
    vertical-align: middle;
    border: none;
}

.bg-light {
    background-color: #fff !important;
}

.table {
    font-size: 0.7rem;
}

.green {
    color: rgb(74, 129, 74) !important;
}

.bold {
    font-weight: bold;
}

.fa,
.far,
.fas {
    padding-left: 10px;
}

.button-more {
    border: 0px;
    color: white;
    background-color: #0c4822;
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 2px;
    transition: all 0.25s;
    font-size: 0.5rem;

}


/*View-change CSS*/

/*GRID*/
.data-container.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid rgb(199, 199, 199);
    padding-top: 25px;
}

.data-container.grid .item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc(100% / 4);
    margin-bottom: 20px;
    float: left;
    transition: all 1s;
}

.data-container.grid .item.hidden {
    overflow: hidden;
    padding: 0px;
    border: 0px;
    transition: all 1s;
    max-height: 0px;
    width: 0px;
    opacity: 0;
}

/*LIST*/
.data-container.list {
    display: flex;
    flex-direction: column;
}

.data-container.list .item {
    display: flex;
    align-items: center;
    text-align: left;
    border-top: 1px solid #dee2e6;
    justify-content: space-between;
    max-height: 120px;
    transition: all 1s;
}

.data-container.list .item.hidden {
    overflow: hidden;
    padding: 0px;
    border: 0px;
    transition: all 1s;
    max-height: 0px;
}